@charset "UTF-8";
.ib {
	display:inline-block;
}
.th0, .th1, .th2, .td0, .td1, .td2 {
	display:inline-block;
	padding-bottom:5px;
}
.th0, .th1, .th2 {
	text-align:center;
	font-weight:bold;
}
.th0, .td0 {
	width:4em;
}
.th1, .td1 {
	width:11em;
}
